<br>
<h1>About Us:<h1>
<br>
<p class="fs-5">Looking for a way to add some life to your home? Look no further than our online plant shop! We have a wide variety of beautiful plants and flowers, as well as all the accessories you need to keep them healthy and happy. Plus, our prices are unbeatable! So what are you waiting for? </p>
<br>
<img class="rounded mx-auto d-block w-50"<%= image_tag 'https://cdnassets.hw.net/10/f4/2b5b780c427fa32e69d05a267015/feb-greenfeature-tcm17-101633.jpg' %>